.min-width-form-pf .input-group input{
  height: 35px;
}
.radio-inline input {
  margin-left: -17px;
  margin-top: -8px;
}
.radio-inline  {
  padding-top: 9px;
}
.upload-img{
  background-image: url("./../../../assets/images/default-avatar.jpg")
}
