<div class="padding-top-30" xmlns="http://www.w3.org/1999/html">
  <div class="container form-speaker padding-top-10 background-white min-width-form-pf">
    <div class="col-md-24 ticket-body-title">
      <p class="ticket-title">My Profile</p>
      <br/>
    </div>
    <div class="col-md-6  text-align-center width-ava">
      <div class="no-padding cursor avatar-profile" title="Change Avatar" >
        <img [routerLink]="['/']" class="circle-avatar-profie" href="#" src="./../../../assets/images/default-avatar.jpg"
             onerror="this.onerror=null; this.src='./../../../assets/images/default-avatar.jpg'">
        <div><image-upload
          class="upload-img"
          [max]="100"
          [url]="'example.com/images/upload'"
          [headers]="[{header: 'Authorization', value: 'MyToken'}]"
          [buttonCaption]="'Change avatar'"
          [dropBoxMessage]="''"
          [extensions]="['jpg','png','gif']"
          (onFileUploadFinish)="imageUploaded($event)"
          (onRemove)="imageRemoved($event)"
          (isPending)="disableSendButton($event)"
        ></image-upload></div>
      </div>
      <div class="change-password-link">
        <button type="button" data-toggle="modal" class="btn-join"
                data-target="#changepassword"><span class="padding-btn-chgpass nowrap"> Change password</span>
        </button>
      </div>
      <div class="row padding-top-20">
        <div class="col-xs-13 col-md-12 col-lg-12 no-padding">
          <p class="no-padding title-text-field-switch"><span class="nowrap color42">Email reminder</span></p>
        </div>
        <div class="col-xs-11 col-md-10 col-lg-10 width-switch">
          <div *ngIf="user" class="input-group no-padding col-xs-24 ">
            <label class="my-event-switch button-reminder">
              <input type="checkbox" [(ngModel)]="user.optionalAllEmailReminder" />
              <div class="my-event-slider round"></div>
            </label>
          </div>
        </div>
      </div>
    </div>
    <div *ngIf="user" class="col-md-18">
      <form #user1="ngForm" (ngSubmit)="onSubmit($event)" class="form-horizontal" role="form">
        <input type="file" accept="image/*" ref="avatar" class="hidden"/>

        <div class="row">
          <div class="col-xs-4"><p class="title-text-field-profile">Fullname</p></div>
          <div class="input-group col-xs-18">
                <span class="input-group-addon"><i class="fa fa-user"></i></span>
                <input class="col-xs-24" type="text" name="fullName" [(ngModel)]="user.fullName" />
          </div>
        </div>
        <div class="row">
          <div class="col-xs-4"><p class="title-text-field-profile">Date of Birth</p></div>
          <div class="input-group col-xs-18">
            <!--<span class="input-group-addon"><i class="fa fa-calendar"></i></span>-->
            <my-date-picker class="my-date-picker" name="mydate" [options]="myDatePickerOptions"
                            [(ngModel)]="userBirthdayView" required ></my-date-picker>
          </div>
        </div>
        <div class="row ">
          <div class="col-xs-4  ">
            <p class="title-text-field-profile">Gender</p>
          </div>
          <div class="col-xs-18 input-group ">
            <p class="radio-inline">
              <input type="radio" name="options" (click)="changeGender()" [checked]="user.gender">Male
            </p>
            <p class="radio-inline">
               <input type="radio" name="options" (click)="changeGender()" [checked]="oppositeSex">Female
            </p>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-4"> <p class="title-text-field-profile"> Email</p></div>
          <div class="input-group col-xs-18">
            <span class="input-group-addon"><i class="fa fa-envelope"></i></span>
            <input class="col-xs-24" type="text" name="email" [(ngModel)]="user.email" />
          </div>
        </div>
        <div class="row">
          <div class="col-xs-4"><p class="title-text-field-profile">Occupation </p></div>
          <div class="input-group col-xs-18">
            <span class="input-group-addon"><i class="fa fa-briefcase"></i></span>
            <input class="col-xs-24" type="text" name="job" [(ngModel)]="user.job" />
          </div>
        </div>
        <div class="row">
          <div class="col-xs-4"><p class="title-text-field-profile">Company</p></div>
          <div class="input-group col-xs-18">
            <span class="input-group-addon"><i class="fa fa-briefcase"></i></span>
            <input class="col-xs-24" type="text" name="company" [(ngModel)]="user.company" />
          </div>
        </div>
        <div class="row">
          <div class="col-xs-4"><p class="title-text-field-profile"> Phone</p></div>
          <div class="input-group col-xs-18">
            <span class="input-group-addon"><i class="fa fa-phone"></i></span>
            <input class="col-xs-24" type="text" name="phone" [(ngModel)]="user.phone" />
          </div>
        </div>
        <div class="row">
          <div class="col-xs-4"> <p class="title-text-field-profile">Address</p></div>
          <div class="input-group col-xs-18">
            <span class="input-group-addon"><i class="fa fa-address-book"></i></span>
            <input class="col-xs-24" type="text" name="address" [(ngModel)]="user.address" />
          </div>
        </div>
        <div class="form-group pull-right button-save-profile">
          <button type="submit" class="btn no-border-radius button-speaker"> Save</button>
        </div>
      </form>
    </div>
  </div>
  <div class="modal fade hide" id="myModal" role="dialog">
    <div class="modal-dialog">
      <div class="modal-content my-event-dialog-content">
        <div class="modal-header my-event-dialog-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <p class="my-event-dialog-title">Confirm</p>
        </div>
        <div class="">
          <p class="my-event-dialog-body">Are you sure to
            <!--{this.state.status ? " disable " : " enable"}-->email reminder from every event? </p>
        </div>
        <div class="modal-footer my-event-dialog-footer">
          <button type="button" class="btn my-event-dialog-btn-yes"
                  >Yes
          </button>
          <button type="button" class="btn my-event-dialog-btn-no"
                  data-dismiss="modal">No
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
