body, html {
	height: 100%;
}
body {
	background: $bg-body;
	margin: 0;
	padding: 0;
	font-family: $base-font;
	line-height: 20px;
	font-size: 14px;
	font-weight: 500;
	color: $base-font-color;
	-webkit-font-smoothing: antialiased;
}

img {max-width: 100%;}

a {
	text-decoration: none;
}

.container {
	max-width: 1100px;
	margin: 0 auto;
}
.container_detail_page {
	max-width: 1100px !important;
	margin: 0 auto !important;
}

h1, h2, h3, h4 {
	font:{
		family: $base-font-title;
		weight: 600;
	}
}

.project-name {
  text-align: center;
  padding: 10px 0;
}

// Header
header {
	background: $secondary-color;
	padding: 10px;
	@include prefix(box-shadow, 0 3px 3px rgba(0,0,0,0.05));
	@extend %clearfix;

	.logo {
		color: $primary-color;
		float: left;
		font:{
			family: $base-font-title;
			size: 22px;
			weight: 600;
		}

		> span {
			color: lighten($primary-color, 20%);
			font-weight: 500;
		}
	}

	.social {
		float: right;
		.btn {
			font: {
				family: "Dosis";
				weight: 600;
				size: 14px;
			}
			margin: 10px 5px;
		}
	}
}

// Buttons
.btn {
	padding: 5px 15px;
	text-decoration: none;
	background: transparent;
	border: 2px solid lighten($primary-color, 10%);
	color: lighten($primary-color, 10%);
	display: inline-block;
	position: relative;
	text-transform: uppercase;
	font-size: 12px;
	@include prefix(border-radius, 5px);
	@include prefix(transition, background .3s ease);
	@include prefix(box-shadow, 2px 2px 0 lighten($primary-color, 10%));

	&:hover {
		box-shadow: none ;
		top: 2px;
		left: 2px;
		@include prefix(box-shadow, 2px 2px 0 transparent);
	}
}
