@import url(https://fonts.googleapis.com/css?family=Roboto:300);

// color
$blue: #0096D6;


.tab {
    padding-top: 0;
    position: relative;
    overflow: hidden;
    background: #fff;
    //width: 70%;
    margin: 0 auto;
    font-family: 'Roboto', sans-serif;
    line-height: 1.5;
    font-weight: 300;
    color: #888;
    -webkit-font-smoothing: antialiased;
}

.tabs {
    display: table;
    font-size: 15px;
    position: relative;
    overflow: hidden;
    margin: 0;
    margin-bottom: 20px;
    width: 100%;

    li {
        float: left;
        line-height: 38px;
        overflow: hidden;
        padding: 0;
        position: relative;
        min-width: 112px;
        text-align: center;
    }

    a {
        background-color: #eff0f2;
        border-bottom: 1px solid #fff;
        color: #888;
        font-weight: 500;
        display: block;
        letter-spacing: 0;
        outline: none;
        padding: 0 20px;
        text-decoration: none;
        -webkit-transition: all 0.2s ease-in-out;
        -moz-transition: all 0.2s ease-in-out;
        transition: all 0.2s ease-in-out;
        border-bottom: 2px solid $blue;
    }
}

.tabs_item {
    display: none;
    padding: 0 0;

h4 {
    font-weight: bold;
    color: $blue;
    font-size: 20px;
}

img {
    width: 200px;
    float: left;
    margin-right: 30px;
}

&:first-child {display: block;}
}

.current a {
    color: #fff;
    background: $blue;
}

