// Mixins
@import "mixins";

// Timeline
$timeline-color: #00B0FF;

*, *:before, *:after {
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
}

#timeline {
	line-height: 1.5em;
	font-size: 14px;
	width: 95%;
	margin-top: 30px;
	position: relative;
	@include prefix(transition, all .4s ease);
	//vetical line
	&:before {
		content:"";
		width: 4px;
		height: 100%;
		background: #88d6ff;
		left: 30%;
		top: 0;
		position: absolute;
		//@include prefix(box-shadow, 3px 3px 5px rgba(0, 0, 0, 0.25));

	}

	&:after {
		content: "";
		clear: both;
		display: table;
		width: 100%;
	}
	//box item
	.timeline-item {

		position: relative;
		padding: 15px 0 0 10px;
		margin-bottom: 40px;

		@extend %clearfix;
		//point item
		.timeline-icon {
			background: #47bdf9;
			width: 70px;
			height: 70px;
			position: absolute;
			top: 0;
			left: 30%;
			overflow: hidden;
			margin-left: -33px;
			color: white;
			font-size: medium;
			text-align: center;
			line-height: 50px;
			//@include prefix(border-radius, 50%);
			border-radius: 50%;
			border: 5px solid #88d6ff;
			padding: 5px;
			//@include prefix(box-shadow, 3px 3px 3px rgba(0, 0, 0, 0.3));

			//img {
			//	position: relative;
			//	top: 14px;
			//	left: 14px;
			//}
		}
		//left box
		.timeline-content {
			width: 23%;
			text-align: justify;
			@include prefix(box-shadow, 1px 1px 2px rgba(0, 0, 0, 0.13));
			@include prefix(border-radius, 0);
			@include prefix(transition, all .3s ease);
			.timeline-content-left{
				padding: 10px 10px 1px 5px;
				background: #f8f8f8;
				display: inline-block;
				float: right;
				@include prefix(box-shadow, 1px 1px 2px rgba(0, 0, 0, 0.13));

				.margin-date-right{
					text-align: right;
					font-weight: bold;
					font-size: larger;
					color: darkseagreen;
				}
				.margin-location-right {
					text-align: right;
					color: darkseagreen;
				}
				.margin-duration-right {
					text-align: right;
					color: #b4b4b4;
					font-style: italic;

				}
			}



			//title  box
			h2 {
				padding: 5px;
				background: #56c6ff;
				color: #fff;
				margin: -20px -20px 0 -20px;
				font-weight: 300;

				//@include prefix(border-radius, 3px 3px 0 0);
			}
			//arrow-r
			&:before {
				content: '';
				position: absolute;
				left: 23%;
				top: 20px;
				width: 0;
				height: 0;
				border-top: 7px solid transparent;
				border-bottom: 7px solid transparent;
				border-left:7px solid rgba(255, 255, 255, 0);
				margin-top: 10px;

			}
			&.right {
				float: right;
				width: 63%;
				background: #f8f8f8;
				padding: 20px 20px 0 20px;


				//arrows-l
				&:before {
					content: '';
					right: 63%;
					left: inherit;
					border-left: 0;
					border-right: 7px solid rgba(255, 255, 255, 0);
				}
			}
		}
	}
}

@media screen and (max-width: 768px) {
	#timeline {
		margin: 30px;
		padding: 0;
		&:before {
			left: 0;
		}
		.timeline-item {
			.timeline-content {
				width: 90%;
				float: right;
				background: #f8f8f8;
				.timeline-content-left {
					@include prefix(box-shadow, 1px 1px 2px rgba(0, 0, 0, 0));

				}

				&.right{
					width:90%;
				}
				&:before, &.right:before {
					left: 10%;
					margin-left: -6px;
					border-left: 0;
					border-right: 7px solid rgba(255, 255, 255, 0);

				}
			}

			.timeline-icon {
				left: 0;
			}
		}
	}
}
