<div class="footer margin-m3">
  <!--<JoinSuccess/>-->
  <div class="footer_wrapper">
    <div class="footer_block">
      <div class="footer_item_small follow_us_div">
        <div class="footer_header">
          Follow us
        </div>
        <div class="footer-social-icon-corner">
          <a href="https://www.facebook.com/eventomorrow/"> <i class="fa fa-facebook-square social-icon footer_social_icon1" aria-hidden="true"></i></a>
        </div>
      </div>
      <div class="footer_item_medium">
        <div class=" footer_header-edit">
          Mobile apps
        </div>
        <div class=" footer-social-icon-corner" >
          <a target="_blank" class=""
             href="https://itunes.apple.com/us/app/aevents/id1216504334?ls=1&mt=8">
            <img class="icon_max_width" src="../../../assets/images/App-Store_icon.png"/>
          </a>
        </div>
        <div class="padding-top-9 padding-bottom-10 footer-social-icon-corner" >
          <a target="_blank"
             href="https://play.google.com/store/apps/details?id=vn.axonactive.aevent">
            <img class="icon_max_width" src="../../../assets/images/Google-Play_icon.png"/>
          </a>
        </div>

      </div>
      <div class="footer_item_large">
        <div class="footer_header-edit">
          Company
        </div>
        <div style="padding-bottom: 10px" class="footer-social-icon-corner">
        <a target="_blank" href="http://www.axonactive.com/">
          <img  id="footer_company_logo" src="../../../assets/images/axonactive.png"/>
        </a>
      </div>
    </div>
    <div class="footer_item_large footer_item_customize_width">
      <div class="footer_header-edit">
        Headquarter
      </div>
      <div class="location">
        <div class="location_item location_icon">
          <i class="fa fa-map-marker footer_social_icon" aria-hidden="true"></i>
        </div>
        <div class="location_item location_txt">
          <div class="location_txt_content location_txt_header">
            <a target="_blank" href="https://www.google.com/maps/place/Axon+Active+Vietnam/@10.8086532,106.6631633,18z/data=!4m5!3m4!1s0x3175293cb57e2cad:0x8f2bef857837085f!8m2!3d10.8092065!4d106.6641128">
              HO CHI MINH CITY, VIETNAM
            </a>
          </div>
          <div class="location_txt_content location_txt_details">
            39B Truong Son Street,
            Ward 4, Tan Binh District,
            Ho Chi Minh City, Vietnam
          </div>
        </div>
      </div>
    </div>
    <div class="footer_item_large" id="footer_last_item">
      <div class="footer_header-edit">
        Office
      </div>
      <div class="location">
        <div class="location_item location_icon">
          <i class="fa fa-map-marker footer_social_icon" aria-hidden="true"></i>
        </div>
        <div class="location_item ádsa location_txt ">
          <div class="location_txt_content location_txt_header">
            <a target="_blank" href="https://www.google.com/maps/place/Axon+Active+Vietnam/@16.04151,108.2198872,18z/data=!4m5!3m4!1s0x314219e9fae5b5f3:0x938e9d3475a89baf!8m2!3d16.0408888!4d108.2206436">
              DA NANG, VIETNAM
            </a>
          </div>
        </div>
      </div>
      <div class="location">
        <div class="location_item location_icon">
          <i class="fa fa-map-marker footer_social_icon" aria-hidden="true"></i>
        </div>
        <div class="location_item location_txt ">
          <div class="location_txt_content location_txt_header">
            <a target="_blank" href="https://www.google.com/maps/place/Axon+Active+Inc./@37.7846883,-122.4112432,18z/data=!4m5!3m4!1s0x8085808f9025ce29:0x88675a56056af0ac!8m2!3d37.784913!4d-122.410747">
              SAN FRANCISCO, USA
            </a>
          </div>
        </div>
      </div>
      <div class="location">
        <div class="location_item location_icon">
          <i class="fa fa-map-marker footer_social_icon" aria-hidden="true"></i>
        </div>
        <div class="location_item location_txt  last_office">
          <div class="location_txt_content location_txt_header">
            LUZERN, SWITZERLAND
          </div>
        </div>
      </div>
      <div class="location">
        <div class="location_item location_icon">
          <i class="fa fa-map-marker footer_social_icon" aria-hidden="true"></i>
        </div>
        <div class="location_item location_txt  last_office">
          <div class="location_txt_content location_txt_header">
            CAN THO,VIET NAM
          </div>
        </div>
      </div>
    </div>
  </div>
  <hr/>
  <div class="footer_block">
    <div class="footer_final footer_final_left">
      A product of <a href="http://www.axonactive.com/" target="_blank" class="footer_link">AXON ACTIVE VIETNAM</a>  @ 2017 | All rights reserved
    </div>
    <div class="footer_final footer_final_right">
      <a href="http://eventomorrow.com/term" target="_blank" class="footer_link">Terms of Service</a> | <a href="http://eventomorrow.com/privacy" target="_blank" class="footer_link">Privacy Statement</a>
    </div>
  </div>
</div>
</div>
