.blue_title {
    color: #009DD9;
}

.info {
    margin-bottom: 10px;
    text-align: justify;
    padding-top: 10px;
}

.aavn-firm {
    padding-top: 10px;
    padding-bottom: 10px;
}

.clr {
    padding-top: 20px;
}

.icontextcontainer {
    margin-bottom: 20px;
}

.iconalign {
    width: 20%;
    float: left;
    margin-top: 5px;
}

.textalign {
    width: 76%;
    float: right;
}

.iconboder {
    border-radius: 10px !important;
    border: 1px solid #eee;
}

.featuredescription {
    font-weight: bold;
}

.featurecontent {
    padding-right: 10px;
}

.step-5 .icon-store {
    display: inline-block;
}

.apple_icon_about {
    display: inline-block;
    overflow: hidden;
    background: url(/assets/image/App-Store_icon.png) no-repeat;
    width: 101px;
    height: 32px;
    margin-right: 10px;
    border-radius: 5px !important;
    background-size: 100%;
}
.apple_icon_app {
    display: inline-block;
    overflow: hidden;
    background: url(/assets/image/App-Store_icon.png) no-repeat;
    width: 200px;
    height: 70px;
    border-radius: 5px !important;
    background-size: 100%;
}

.google_icon_about {
    display: inline-block;
    overflow: hidden;
    background: url(/assets/image/Google-Play_icon.png) no-repeat;
    width: 101px;
    height: 32px;
    border-radius: 5px !important;
    background-size: 100%;
}

.google_icon_app {
    display: inline-block;
    overflow: hidden;
    background: url(/assets/image/Google-Play_icon.png) no-repeat;
    width: 200px;
    height: 70px;
    border-radius: 5px !important;
    background-size: 100%;
}
.margin-left-20{
    margin-left: 20px;
}
.img-apps {
    display: table !important;
    max-width: 200px;
    margin: 0 auto;
}
.margin-left-20{
    margin-left: 20px;
}
.icon-store a, .appstore .inner a {
    outline: none;
}

.clr {
    padding-top: 20px;
}

.about-us-body {
    display: inline-block;
    width: 100%;
    height: auto;
    background-color: #f1f1f1;
    padding: 50px 10px;
    min-height: 800px;
    margin: 0 auto;
}

.about-us-content {
    background-color: white;
    padding-left: 10px;
    padding-right: 10px;
    max-width: 970px;
    margin: 0 auto;
}

