.pagination>li {
    display: inline;
    padding:0px !important;
    margin:0px !important;
    border:none !important;
}
/*
Fix to show in full screen demo
*/
iframe
{
    height:700px;
}
.border_bottom {
    border-bottom:1pt solid #ffffff !important;
}
.tbody-noti{
    background-color: #cbedff !important;

}
#max-width-noti {
    /*text-wrap: normal;*/
    /*word-wrap: break-word;*/
    font-size: small;
    text-align: left;
    padding: 10px 2px 9px 5px;
    background-color: #e1f4ff;
    margin: 0;
}

#tbody-noti{
    background-color: #cbedff;

}
#border_bottom {
    border-bottom:1pt solid #ffffff;
}
.max-width-noti {
    /*text-wrap: normal;*/
    /*word-wrap: break-word;*/
    font-size: small!important;
    text-align: left!important;
    padding: 10px 2px 9px 5px!important;
    background-color: #e1f4ff !important;
    margin: 0 !important;
}


.btn {
    display: inline-block;
    padding: 6px 12px !important;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
}

.btn-primary {
    color: #fff !important;
    background: #428bca !important;
    border-color: #357ebd !important;
    box-shadow:none !important;
}
.btn-danger {
    color: #fff !important;
    background: #d9534f !important;
    border-color: #d9534f !important;
    box-shadow:none !important;
}

.space-6{
    margin: 6px;
}
.space-12{
    margin: 12px;
}
