.header-button {
    display: inline-block;
    float: right;
    height: 100%;
    border-left: 0.5px solid #F0F8FA;
    border-top: none;
    font-size: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 10px 0 10px;
}

.header-button:hover {
    background-color: #F5F5F5;
}

.header-button-corner {
}

.header-final-button {
    border-right: 1px solid #F0F8FA;
}

.header-profile {
    /*background-color: #87D3B7;*/
}

.kep-login-facebook.metro {
    width: 100%;
}

.dp {
    border: 5px solid #eee;
    transition: all 0.2s ease-in-out;
}

.dp:hover {
    border: 2px solid #eee;
    transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    /*-webkit-font-smoothing:antialiased;*/
}

.user-menu {
    display: flex;
    justify-content: center;
    align-items: center;
}

.user-name {
    margin-right: 9px;

}

.menu-item {
    display: inline-block;
}

.profile-menu {
    min-width: 182px;
    margin-top: 15px;
    border-radius: 0;
}



.profile-menu-icon {
    margin-top: 3px;
}

.upcoming-events {
    background-color: white;
}

.row {
    margin-left: 0;
    margin-right: 0;
}
