.event-detail-map-info-window {
    margin: 5px 10px 20px 10px;
    max-width: 300px;
}

.event-detail-banner {
    box-sizing: border-box;
    width: 100%;
}

.event-detail-title-section {
    background-color: #ffffff;
    margin-bottom: 20px;
    border-bottom-color: #cccccc;
}


.event-detail-no-padding {
    padding: 0;
}

.event-detail-no-margin-left {
    margin-left: 0;
}

.margin-top-30 {
    margin-top: 30px !important;
}
.title-supporter {
    padding: 7px 7px;
    font-weight: bold;
    font-size: 18px;
    color: #0091cf;
}
.event-detail-margin-top-20 {
    margin-top: 20px;
}
.margin-top-4 {
    margin-top: 4px;
}
.background-assign-manage {
    min-height: 1080px;
    border-left: 1px solid #ddd9d9;

}
@media (min-width: 768px) {
    .event-detail-title-time {
        border: none;
        padding-top: 5px;
        padding-bottom: 5px;
        /*padding-left: 30px;*/
    }

    .event-detail-title-event-name {
        padding-left: 0;
        padding-right: 0;
    }
}


.event-detail-title-time-content {
    padding-left: 23px;
    text-indent: -0.75em;
    margin-bottom: 0;
    font-size: 15px;
    color: #333333;
    font-weight: bold;
}

.event-detail-title-icon-fa {
    color: #999999;
}

.container_detail_page {
    margin-right: auto;
    margin-left: auto;
    padding-left: 0!important;
    padding-right: 0!important;
    width: auto !important;
}

.event-detail-location {
    margin-left: 0.75em;
    color: #999999;
    font-size: 13px;
    margin-top: 5px;
}

@media (min-width: 768px) {
    .event-detail-btn-group {
        margin: 50px 0;
        display: inline-block;
        padding-left: 3%;
        padding-right: 0;
    }
}

.event-detail-btn-join {
    padding: 13px 18px;
    width: 100%;
    font-size: 18px;
    font-weight: bold;
}
.event-detail-btn-join-nav {
    padding: 13px 18px !important;
    width: 100%;
    font-size: 18px;
    font-weight: bold;
}

.event-detail-btn-see {
    padding: 13px 18px;
    background-color: #FFFFFF;
    color: #999999;
    border-radius: 0;
    text-decoration: none;
    width: 100%;
    font-size: 18px;
    font-weight: bold;
    border: 1px solid #cccccc;
}

.event-detail-btn-social {
    padding-left: 0;
    padding-right: 0;
    margin-top: 5px;
}

.event-detail-btn-share {
    padding: 5px 5px;
    background-color: #FFFFFF;
    color: #999999;
    border-radius: 0;
    text-decoration: none;
    font-size: 1em;
    width: 100%;
    border: 1px solid #cccccc;
}

.event-detail-btn-group-share {
    padding-left: 0;
    padding-right: 0;
    margin-top: 10px;
    display: none;
}

.mapMarkerSizeTimeline{
    font-size: 1em;
    color: #8fbc8f;
}
.durationIconSizeTimeline{
    font-size: 0.8em;
    color: #8fbc8f;
    font-weight: bolder;
}
.event-detail-nav-top {
    margin: 0;
    padding: 0;
    text-transform: uppercase;
    /*text-color:white;*/
}

.event-detail-nav-far-away {
    /*border-style: solid;*/
    /*border-width: 1px 0 1px 0;*/
    background: #42A5F5;
    border-radius: 0;
    margin: 0;
    padding: 0;
    text-transform: uppercase;
}
/*additional*/
.mapMarkerSize{
    /*color: #64B5F6;*/
    font-size: 20px;
}
.event-detail-nav-title {
    text-align: center;
    color: #999999 ;
    font-size: 16px;
    cursor: pointer;
}
@media (min-width: 768px){
    .navbar-fixed-top .navbar-collapse, .navbar-static-top .navbar-collapse, .navbar-fixed-bottom .navbar-collapse {
        padding-left: 0;
        padding-right: 0;
        float: right !important;}}



.event-detail-nav-title-far-away {
    text-align: center;
    color:whitesmoke!important;
    font-size: 16px;
    cursor: pointer;
}

.event-detail-content {
    background-color: #f1f1f1;
    padding-top: 20px;
}

.navbar-toggle {
}

.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
    background-color: #2D8DB9;
}

.navbar-default .navbar-toggle:active{
    background-color: #4c99ba;
}

.event-detail-content-title {
    color: #333333;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 0;
    margin-top: 0;
    font-size: 16px;
    padding: 20px;
    border-bottom: 1px solid #cccccc;
}
.event-detail-content-title-detail {
    color: #0096D6;
    font-family: 'opensans-light', sans-serif;
    font-style: normal;
    padding-left: 30px;
    text-align: left;
    font-size: 25px;
    padding: 20px;
    border-bottom: 1px solid #cccccc;
}
.min-width-detail{
    min-width: 110px;
}


@media (min-width: 768px){
    .event-detail-content-intro {
        padding: 10px 20px 10px 20px;
        overflow: hidden;
        font-size: 14px;
    }
}
.event-detail-content-share {
    font-weight: 600;
    font-size: 12px;
    color: #282c35;
    text-transform: uppercase;
    margin: 0 0 10px 0;
}

.event-detail-cate {
    padding-left: 20px;
    padding-top: 5px;
    padding-right: 5px;
}

.event-detail-link-cate {
    border: 1px solid #d2d6df;
    padding: 5px 8px;
    border-radius: 12px;
    color: #000000;
    background-color: transparent;
    text-decoration: none;
    margin-right: 10px;
    margin-top: 5px;
    display: inline-block;
}

.event-detail-margin-10-0-0-0 {
    margin: 10px 0 0 0;
}

.event-detail-margin-10-20-0-0 {
    margin: 10px 0 20px 0;
}

.event-detail-padding-20 {
    padding: 20px;;
}

.event-detail-content-image {
    height: 30px;
    width: 30px;
    margin-right: 5px;
}

.event-detail-margin-left-10 {
    margin-left: 10px;
}

.event-detail-topic {
    background-color: #FFFFFF;
    padding-bottom: 20px;

}

.event-detail-topic-body {
    background-color: #f1f1f1;
    padding-top: 20px;
}

.event-detail-topic-item {
    background-color: #FFFFFF;
    border-bottom: 1px solid #cccccc;
    display: flex;
    justify-content: center;
}

.event-detail-topic-item-title {
    padding: 0;
    border-left:1px solid #cccccc;
}

.event-detail-topic-item-icon {
    color: #999999;
    margin-right: 10px;
    font-size: 20px;
}

.event-detail-time-location {
    align-self: center;
    text-align: center;
}

.event-detail-topic-item-header-title {
    padding: 10px;
    font-size: 18px;
    font-weight: 500;
    font-family: 'Roboto' ,sans-serif;
    font-weight: bold;
    color: white;
    background: #64B5F6
}

.event-detail-topic-item-header-des {
    font-size: 13px;
    font-family: 'Roboto', sans-serif;
    font-style: italic;
    color:#9E9E9E
}

.event-detail-topic-item-content {
    text-align: center;
}

.event-detail-speaker-avatar {
    width: 75px;
    height: 75px;
    margin-bottom: 10px;
}

.event-detail-speaker {
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 0;
}

.event-detail-topic-time {
    font-size: 15px;
    margin-bottom: 10px;
    margin-top: 10px;
    font-style: normal;
    font-family: 'Roboto', sans-serif;
    color: #9E9E9E;
}

.event-detail-speaker-content {
    margin-top: 5px;
    font-style: normal;
    font-family: 'Roboto', sans-serif;
    color: #9E9E9E;
}

.event-detail-sponsor {
    background-color: #f1f1f1;
    padding: 20px 0 0 0;
}

.event-detail-sponsor-body {
    background-color: #FFFFFF;
    padding-bottom: 20px;
}

.event-detail-sponsor-avatar {
    width: 120px;
    height: 120px;
    border-radius: 0;
    margin-bottom: 10px;
}

.event-detail-tooltip {
    background-color: #ffffff;
    padding: 0;
    margin: 0;
    /*max-width: 500px;*/
}
.size-speaker-tooltip {
    max-width: 450px;
}
.font-tooltip{
    font-family: 'Roboto', sans-serif;
    white-space: -moz-pre-wrap;
    white-space: pre-line;
    white-space: -o-pre-wrap;
    background-color: #ffffff;
    border: 0;
    padding: 5px 0 0 0;
}
.maxWidthDes{
    max-width: 100px;

}
.event-detail-tooltip-image {
    width: 150px;
    height: 150px;
    margin-bottom: 10px;
    margin-top: 10px;
}

.event-detail-sponsor-item-name {
    font-size: 13px;
}

div#menu-top-fixed-event-detail ul li a{
    color: white;
}

div#menu-top-fixed-event-detail ul li a:hover{
    background: #1685aa;
    color: white;
}

.title-selected{
    background: #1685aa !important;
}


.event-detail-content-intro#description{
    text-align: justify;
}

.padding-right-none{
    padding-right: 0;
}

.image-speaker-detail {
    margin: 0 auto;
    width:100px;
    height:auto;
}

@media (max-width:1200px) {
    #back-on-top{
        display: none;
    }
}

.description-text-align {
    white-space: pre-wrap;
    text-align: justify;
    /*-moz-text-align-last: center;*/
    /*text-align-last: center;*/
}

/*@media (min-width: 1800px) {*/
    /*.event-detail-fragment{*/
        /*background-color: #f1f1f1;*/
    /*}*/
/*}*/
