.event-panel-content{
    padding-top: 10px;
    background-color: white;
    border: 1px solid #CCCCCC;
    border-top: none;
}
.event-panel-location{
    min-height: 64px;
    padding-right: 8px;
}
.padding-top-homepage{
    padding-top: 19px;
}
.event-panel-responsive{
    height: 21px;
    overflow: hidden;
}
@media only screen and (min-width: 768px) and (max-width: 1020px) {
    .event-panel-responsive{
        height: 40px;
        overflow: hidden;
    }
}
@media only screen and (min-width: 1200px) and (max-width: 1360px) {
    .event-panel-responsive{
        height: 40px;
        overflow: hidden;
    }
}
@media only screen and (min-width: 380px) and (max-width: 540px) {
    .event-panel-responsive{
        height: 63px;
        overflow: hidden;
    }
    .padding-responsive{
        padding: 0 4px;
    }
    .padding-top-homepage{
        padding-top: 12px;
    }
}
@media only screen and (min-width: 0) and (max-width: 380px) {
    .event-panel-responsive{
        height: 63px;
        overflow: hidden;
    }
    .padding-responsive{
        padding: 0 2.5px;
    }
    .padding-top-homepage{
        padding-top: 6px;
    }
}


.event-panel-name {
    overflow:hidden;height:18px;line-height:18px;
    font-size: 17px;
    line-height: 1em;
    font-weight: bold;
    display: block;
    color: #424242;
}
.event-panel-block-left{
    width: 80px;
    float: left;
}
.event-panel-block-right{
    margin-left: 94px;
}

.event-mini-panel-content {
    /*padding-top: 10px;*/
    padding-left: 10px;
    background-color: #039BE5;
    color: #fff;
    /*border: 1px solid #CCCCCC;*/
    border-top: none;
    overflow:hidden;height:25px;line-height:25px;

}

.event-panel-box {
    width: 100%;
    box-shadow: 0.5px 0.5px 3px #9e9e9e;
}

