#max-width-noti {
    /*text-wrap: normal;*/
    /*word-wrap: break-word;*/
    font-size: small;
    text-align: left;
    padding: 10px 2px 9px 5px;
    background-color: #e1f4ff;
    margin: 0;
}

#tbody-noti{
    background-color: #cbedff;

}
#border_bottom {
    border-bottom:1pt solid #ffffff;
}
.left-side-menu {
    min-height: 100%;
    height: 720px;
}
.min-width-menu{

    min-width: 450px;
}
aside header p {
    font-size: 14px;
    color: black;
    font-weight: bold;
    padding-top: 10px;
    padding-bottom: 2px;
    text-align: center;
}

.status-font-style{
    display: block;
    padding: 10px 15px;
    border-left: 4px solid white;
    text-align: left;
    color: #a5a5a5;
}
.side-navigation {
    font-size: 13px;
}

.side-navigation a {
    display: block;
    padding: 10px 15px;
    text-decoration: none;
    border-left: 4px solid white;
    color: #a5a5a5;
}

.side-navigation i.fa {
    font-size: 13px;
    color: black;
    padding-left: 10px;
    padding-right: 15px;
    font-weight: bold;
}
.side-navigation li:hover a {
    border-left: 4px solid #00AFEF;
    background: rgba(255, 255, 255, 0);
}

.side-navigation li.active a {
    border-left: 4px solid #00AFEF;
    background: #eefaff;
}

.side-navigation li {
    border-top: 1px solid #ddd9d9;
    text-align: left;
}
.preview-event-manage {
    padding-top: 30px;
}

.preview-event-manage i.fa {
    font-size: 13px;
    color: black;
    padding-right: 10px;
    font-weight: bold;
}
.status-font{
    font-size: small;
    font-style: italic;
    color: #919191;
}

.no-padding {
    padding: 0 !important;
    margin: 0 !important;
}
.file-upload{
  padding: 0!important;
  background-color:white !important;
}
.file-upload .button{
  border: 0.5px solid #2aabd2  !important;
  background-color: transparent !important;
  color: #2aabd2 !important;
  min-width: 80px !important;
  box-shadow: none!important;
  padding: 0 4px!important;
  font-size: 15px !important;
  text-transform: capitalize !important;
}
.file-upload .button:hover{
  border: 0.5px solid #2aabd2!important;
  background-color: #2aabd2!important;
  color: #fff!important;
  min-width: 80px!important;
}

.image-upload{
  --common-radius: 3px !important ;
  --active-color: #33CC99 !important;
  position: relative !important;
  font-family: sans-serif !important;
  border: 0 solid #2aabd2  !important;
  background-color: transparent !important;
  color: #2aabd2 !important;
  min-width: 80px !important;
  padding-left: 53px !important;
}

.no-padding-detail-page{
    padding: 20px 0 0 0 !important;
}
.with-button{
    width: 160px;
}
.no-padding-side {
    padding-left: 0 !important;
    padding-right: 0 !important;
}

.remind-title-border{
    border-bottom: 1px solid #ddd9d9;
}

.no-min-height {
    min-height: 0;
}

.min-height-130 {
    min-height: 130px;
}

.text-center {
    text-align: center;
}

.title-left-menu {
    font-size: 14px;
    color: black;
    font-weight: bold;
    padding: 10px 0 12px 20px;
    text-align: left;
    border-bottom: 1px solid #ddd9d9;
    border-left: 1px solid #ddd9d9;
    margin-bottom: 0;
}

.title-right-panel {
    font-weight: bold;
    padding: 6px 10px 4px 20px;
    text-align: left;
    border-bottom: 1px solid #ddd9d9;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
}

.background-event-manage {
    background-color: #f6f7f9;
    min-height: 1080px;
    border-left: 1px solid #ddd9d9;

}

.margin-top-10 {
    margin-top: 10px;
}
.margin-top-15 {
    margin-top: 15px;
}
.margin-top-4 {
    margin-top: 4px;
}
.margin-top-52 {
    margin-top: 52px;
}
.avatar-margin{
    max-width: 120px;
    max-height: 120px;
    margin: 0 auto;

}

.title-index {
    padding: 7px 7px;
    /*border-bottom: 1px solid #ddd9d9;*/
    font-weight: bold;
    font-size: 16px;
}
.title-feedback {
    padding: 15px 2px 20px 10px;
    margin-bottom: 20px;
    /* border-bottom: 1px solid #ddd9d9; */
    font-weight: bold;
    font-size: 17px;
    color: #0096d6;
}
.panel-min-width{
    min-width: 400px;
}
.inline-date{
    display:inline-block;
    white-space: nowrap;
    overflow:hidden !important;
    text-overflow: ellipsis;
}
.title-index-bar {
    padding: 7px 7px;
    font-weight: bold;
    font-size: 16px;
}

.padding-add-btn{
    padding: 10px 10px 10px 10px;
}

.shadow-panel{
    box-shadow: 0.5px 0.5px 3px #9e9e9e;
}
.table {
    width: 98%;
    margin-bottom: 5px;
}


.tr:nth-child(even) {
    background-color: #dddddd;
}
.boder-top-panel{
    border-top: 1px solid #ddd9d9;
 }

.background-white {
    background-color: #ffffff;
}

.background-gray {
    background-color: #f6f7f9;
    border: 1px solid #cccccc;
}

.time-date {
    float: left;
}

.background-event-index {
    border-bottom: 4px solid #00AFEF;;
    background-color: #00afef;
    text-align: center;
}
.background-require-index {
    background-color: #e1f4ff;
    text-align: center;
}

.max-width-require{
    max-width: 780px;
}
.max-width-require-table{
    max-width: 740px;
}
.margin-checkbox{
    margin-bottom: 0;
    margin-top: 7px;
}
.form-speaker {
    background-color: white;
}

/*css for avatar*/

div.circle-avatar {
    /* make it responsive */

    min-width: 100px;
    min-height: 100px;
    display: block;
    /* div height to be the same as width*/
    /*padding-top: 100%;*/

    /* make it a cirkle */
    border-radius: 50%;

    /* Centering on image`s center*/
    background-position-y: center;
    background-position-x: center;
    background-repeat: no-repeat;

    /* it makes the clue thing, takes smaller dimention to fill div */
    background-size: cover;

    /* it is optional, for making this div centered in parent*/
    margin: 0;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.size-box-200 {
    width: 200px;
    height: 200px;
    margin: auto;
    text-align: center;
}

.change-password-link{
    margin-top: 10px;
}
.add-paticipant{
    margin-top: 5px;
    margin-left: 20px;
    margin-bottom: 10px;
    font-weight: bold;
    font-size: 16px;
}

.circle-avatar-profie {
  /* make it responsive */

  min-width: 100px;
  min-height: 100px;
  display: block;
  /* div height to be the same as width*/
  /*padding-top: 100%;*/

  /* make it a cirkle */
  border-radius: 50%;

  /* Centering on image`s center*/
  background-position-y: center;
  background-position-x: center;
  background-repeat: no-repeat;

  /* it makes the clue thing, takes smaller dimention to fill div */
  background-size: cover;

  /* it is optional, for making this div centered in parent*/
  margin: 0 auto;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 200px;
  height: 200px;
}

.border-test {
    border: 1px solid black;
}

.padding-top-10 {
    padding-top: 20px;
}

.padding-top-50 {
    padding-top: 50px;
}

.padding-top-9 {
    padding-top: 9px;
}

.padding-top-20 {
    margin-top: 10px;
    margin-bottom: 10px !important;
    padding: 0 !important;
}

.padding-left-5 {
    padding-left: 5px;
}

.padding-right-5 {
    padding-right: 5px;
}

.padding-bottom-10{
    padding-bottom: 10px;
}

.padding-bottom-30{
    padding-bottom: 30px;
}
.padding-top-30{
    padding-top: 30px;
}

.padding-time-date-frame {
    padding: 8px 15px 0 0;
}

.hidden {
    display: none;
}

.button-speaker {
    color: white;
    background-color: #0091cf;
    margin-left: 10px;
    padding: 7px 20px;
    border-radius: 2px;
}

.button-speaker:hover {
    background-color: #0091cf;
    color: white;
    /*//padding: 10px 24px;*/
}

.button-broadcast {
    color: white;
    background-color: darkseagreen;
    margin: 5px;
    border-radius: 2px;
}

.button-broadcast:hover {
    color: white;
    background-color: #82ad82;
}
.button-cancel-broadcast {
    color: white;
    background-color: #d1594a;
    margin: 5px;
    border-radius: 2px;
}

.button-cancel-broadcast:hover {
    color: white;
    background-color: #bc5546;
}

.button-save-reset{
    padding-right: 10px;
}

.row-no-padding > [class*="col-"] {
    padding-left: 0 !important;
    padding-right: 0 !important;
}

.btn-continue {
    margin-left: 0;
    margin-right: 6px;
    background-color: #0096d6;
}

.title-text-field {
    float: right;
    font-weight: bold;
    padding-bottom: 25px;
    color: #a5a5a5;
    margin-bottom: 0 !important;
}

.title-text-field-pass {
    float: left;
    font-weight: bold;
    padding: 10px 0 8px 0;
    color: #a5a5a5;
    margin-bottom: 0 !important;
}

.title-text-field-profile {
    float: right;
    font-weight: bold;
    padding: 10px 0 20px 0;
    color: #a5a5a5;
    margin-bottom: 0 !important;
}
body{
background:   #f8f5f0
}
.title-text-field-switch {
    float: right;
    font-weight: bold;
    padding: 10px 0 20px 0;
    color: #a5a5a5;
    margin-bottom: 0 !important;
}

.title-text-field-speaker {
    float: right;
    font-weight: bold;
    padding-bottom: 20px;
    padding-top: 10px;
    color: #a5a5a5;
    margin-bottom: 0 !important;
}

.title-text-field-dob {
    padding-top: 25px;
    float: right;
    font-weight: bold;
    padding-bottom: 20px;
    color: #a5a5a5;
    margin-bottom: 0 !important;

}

.title-text-field-tel {
    float: right;
    margin: 0 !important;
    padding: 10px 5px 23px 0;
    font-weight: bold;
    color: #a5a5a5;
}

.btn-padding {
    padding-top: 22px;
}
.padding-notifi-btn{
    margin-top: 10px;

}

.padding-pp {
    float: right;
    font-weight: bold;
    padding-top: 8px;
    color: #a5a5a5;
    margin-bottom: 0 !important;
    padding-bottom: 92px;
}

.title-time-date {
    padding: 7px 0 13px 0;
    font-weight: bold;
    float: right;
    margin: 0 !important;
    font-size: 12px;
}

.form-schedule {
    width: 300%;

}

.add-more,
.add-more:hover {
    text-decoration: none;
    cursor: pointer;
    padding: 5px 10px;
}

.edit-button {
    cursor: pointer;
}

.hidden {
    display: none;
}

.show {
    display: block;
}

.error-message {
    font-size: 12px;
    color: red;
}

.background-error {
    background-color: #ffe8e8;
    -webkit-box-shadow: inset 0 0 9px -1px rgba(255,133,133,1);
    -moz-box-shadow: inset 0 0 9px -1px rgba(255,133,133,1);
    box-shadow: inset 0 0 9px -1px rgba(255,133,133,1);
}

.remind-form {
    background-color: white;
    margin-top: 20px;
}

.circle-avatar-speaker{
  border-radius: 50%;
  width: 100px
}
.background-darkgray{
    background-color: white !important;
    border: 5px solid #88d6ff !important;
    color: #00B0FF !important;
}

.background-apps{
    background-color: white !important;
    color: #00B0FF !important;
    /*margin-top: 20px;*/
    border-top: 25px solid #F1F1F1;


}
.margin-bottom-timeline{
    margin-bottom: 0 !important;
}
.margin-bottom-15{
    margin-bottom: 15px !important;
}
.flash {
    -webkit-animation-name: changeBackground; /* Safari 4.0 - 8.0 */
    -webkit-animation-duration: 10s; /* Safari 4.0 - 8.0 */
    animation-name: changeBackground;
    animation-duration: 1.15s;
    animation-iteration-count: infinite;
}



/* Standard syntax */
@keyframes changeBackground {
    0% {
        background-color: white;
        border: 5px solid #6ecdff;
        color: #00B0FF;

    }
    49% {
        background-color: white;
        border: 5px solid #6ecdff ;
        color: #00B0FF;


    }
    50% {background-color: #47bdf9;
        border: 5px solid #6ecdff;
        color: white;

    }
    100% {background-color:#47bdf9;
        border: 5px solid #6ecdff;

    }
}
