.header {
    margin-bottom: 0!important;
    background: #2d8db9;
    min-width: 250px;
    border: none;
    border-radius: 0;
}

.header-brand{
    padding-top: 5px;
}


.header-button {
    display: inline-block;
    float: right;
    height: 100%;
    border-left: 0.5px solid #F0F8FA;
    border-top: none;
    font-size: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 10px 0 10px;
}

.header-dropdown-box{
    padding: 5px 15px 0 15px!important;
    height: 100%;
}
.navbar-brand, .navbar-nav > li > a {
   /* text-shadow: 0 1px 0 rgba(255, 255, 255, 0.25);*/
    /*!important;*/
}

.header-button:hover {
    background-color: #F5F5F5;
}

.header-button-corner {
}

.header-final-button {
    border-right: 1px solid #F0F8FA;
}

.header-profile {
    /*background-color: #87D3B7;*/
}

.kep-login-facebook.metro {
    width: 100%;
}

.user-menu {
    display: flex;
    justify-content: center;
    align-items: center;
}

.user-name {
    margin-right: 9px;

}

.menu-item {
    display: inline-block;
}

.profile-menu {
    min-width: 182px;
    margin-top: 15px;
    border-radius: 0;
}

.profile-menu-item {
    height: 100%;
}

.profile-menu-icon-div {
    text-align: right;
  padding: 0;

}

.profile-menu-icon {
    margin-top: 3px;
}

.upcoming-events {
    background-color: white;
}
.navbar-nav{
}
.row {
    margin-left: 0;
    margin-right: 0;
}

.header-avatar-padding{
    padding-top: 5px;
}

.header-name-padding{
    padding-top: 10px;
    padding-bottom: 17px;
}
.header-name-padding:hover{
    background-color: #05a8d2;
}

.navbar-default{
    /*border: none;*/
    box-shadow: none;
    /*height: 55px;*/
}

/*@media (max-width: 767px){*/
    /*#menu-top-fixed-event-detail ul li a {*/
        /*color: #64B5F6;*/
        /*background-color: white;*/
    /*}*/
/*}*/

.navbar-nav > li > a {
    line-height: inherit;
    text-shadow: none;
}

#return-to-top {
    position: fixed;
    bottom: 50px;
    right: 25px;
    background: rgba(0, 0, 0, 0.39);
    width: 25px;
    height: 25px;
    display: block;
    text-decoration: none;
    /*-webkit-border-radius: 35px;*/
    /*-moz-border-radius: 35px;*/
    /*border-radius: 35px;*/
    display: none;
    /*-webkit-transition: all 0.3s linear;*/
    /*-moz-transition: all 0.3s ease;*/
    /*-ms-transition: all 0.3s ease;*/
    /*-o-transition: all 0.3s ease;*/
    /*transition: all 0.3s ease;*/
}
#return-to-top i {
    color: #fff;
    margin: 0;
    position: relative;
    left: 5px;
    top: 2px;
    font-size: 15px;
    /*-webkit-transition: all 0.3s ease;*/
    /*-moz-transition: all 0.3s ease;*/
    /*-ms-transition: all 0.3s ease;*/
    /*-o-transition: all 0.3s ease;*/
    /*transition: all 0.3s ease;*/
}
#return-to-top:hover {
    background: rgba(0, 160, 255, 0.39);
}
#return-to-top:hover i {
    color: #fff;
    /*top: 5px;*/
}


.loader {
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 16px solid #2d8db9;
    width: 120px;
    height: 120px;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
    margin: 0 auto;
}

@-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}


object{
    pointer-events: none;
}
