.homepage-body {
    background-color: #F1F1F1;
    /*padding-bottom: 50px;*/
}

.body-title {
    margin-bottom: 20px;
    background-color: #F1F1F1;
    font-size: 27px;
    height: 50px;
    text-align: center;
    padding-top: 20px;
    color: #2196F3;
    font-weight: 400;
}

.body-slide {
    margin-bottom: 0;
    margin-top: 0;
    padding-left: 0!important;
    padding-right: 0!important;
}

.see-more-button{
    text-align: center;
    margin-top: 20px;
}
.margin-right-2px{
    margin-right: 2px;
}
.margin-button{
    margin: 40px 5px 10px 0;
}
.margin-right-10px{
    margin-right: 10px;
}
.tab-style {
    padding-bottom: 20px;
    background: none;
}

.tabs-style {
    background-color: white;
    margin-bottom: 0 !important;

}
