body {
    font-family: 'Roboto', sans-serif;
}

.event-detail-content-intro p {
    font-family: 'Roboto', sans-serif;
    /*font-size: medium;*/

    font-weight: 400;
    font-style: normal;
    font-size: 21px!important;
    line-height: 1.58;
    letter-spacing: -.003em;
}

pre {
    word-break: normal!important;
}
