.a-search {
    color: #2aabd2;
    text-decoration: none;
    padding-left: 0 !important;
    padding-right: 0 !important;
}


.a-search:hover { text-decoration: underline }


.input-search {
    font-size: 13px;
    color: #555860;
}

.search {
    position: relative;
    margin: 0 auto;
    min-width: 300px;
}

@media (max-width:846px) {
    .search {
        position: relative;
        margin: 0 auto;
        min-width: 222px;
    }
}

.search input {
    box-shadow: 0.5px 0.5px 3px #9e9e9e!important;
    height: 30px;
    width: 100%;
    padding: 0 12px 0 5px;
    border: none;
    /*border-width: 1px;*/
    /*border-style: solid;*/
    /*border-color: #a8acbc #babdcc #c0c3d2;*/
    border-radius: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-box-shadow: inset 0 1px #e5e7ed, 0 1px 0 #fcfcfc;
    -moz-box-shadow: inset 0 1px #e5e7ed, 0 1px 0 #fcfcfc;
    -ms-box-shadow: inset 0 1px #e5e7ed, 0 1px 0 #fcfcfc;
    -o-box-shadow: inset 0 1px #e5e7ed, 0 1px 0 #fcfcfc;
}

.search input:focus {
    box-shadow: 2px 2px 3px #9e9e9e!important;
    outline: none;
    height: 30px;
    width: 100%;
    padding: 0 12px 0 5px;
    border: none;
    /*border-width: 1px;*/
    /*border-style: solid;*/
    /*border-color: #a8acbc #babdcc #c0c3d2;*/
    border-radius: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-box-shadow: inset 0 1px #e5e7ed, 0 1px 0 #fcfcfc;
    -moz-box-shadow: inset 0 1px #e5e7ed, 0 1px 0 #fcfcfc;
    -ms-box-shadow: inset 0 1px #e5e7ed, 0 1px 0 #fcfcfc;
    -o-box-shadow: inset 0 1px #e5e7ed, 0 1px 0 #fcfcfc;
}

/*.search input:focus  + .results  { display: block }*/

/*.results { display: block }*/
/*.results a + .results {*/
/*display: block;*/
/*}*/

.search .results {
    display: none;
    position: absolute;
    top: 35px;
    left: 0;
    right: 0;
    z-index: 10;
    padding: 0;
    margin: 0;
    border-width: 1px;
    border-style: solid;
    border-color: #cbcfe2 #c8cee7 #c4c7d7;
    border-radius: 3px;
    background-color: #fdfdfd;
    /*overflow-y: auto;*/
    /*overflow-x: hidden;*/
    /*background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #fdfdfd), color-stop(100%, #eceef4));*/
    /*background-image: -webkit-linear-gradient(top, #fdfdfd, #eceef4);*/
    /*background-image: -moz-linear-gradient(top, #fdfdfd, #eceef4);*/
    /*background-image: -ms-linear-gradient(top, #fdfdfd, #eceef4);*/
    /*background-image: -o-linear-gradient(top, #fdfdfd, #eceef4);*/
    /*background-image: linear-gradient(top, #fdfdfd, #eceef4);*/
    /*-webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);*/
    /*-moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);*/
    /*-ms-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);*/
    /*-o-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);*/
    /*box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);*/
}

.search .results li { display: block }

.search .results li:first-child { margin-top: -1px }

.search .results li:first-child:before, .search .results li:first-child:after {
    display: block;
    content: '';
    width: 0;
    height: 0;
    position: absolute;
    left: 50%;
    margin-left: -5px;
    border: 5px outset transparent;
}

.search .results li:first-child:before {
    border-bottom: 5px solid #c4c7d7;
    top: -11px;
}

.search .results li:first-child:after {
    border-bottom: 5px solid #fdfdfd;
    top: -10px;
}

.search .results li:first-child:hover:before, .search .results li:first-child:hover:after { display: none }

.search .results li:last-child { margin-bottom: -1px }

.search .results a {
    display: block;
    position: relative;
    margin: 0 -1px;
    padding: 6px 40px 6px 10px;
    color: #808394;
    font-weight: 500;
    text-shadow: 0 1px #fff;
    border: 1px solid transparent;
    border-radius: 0;
}

.search .results a span {
    font-size: 14px;
    color: #aa0000;

}

.search .results a:before {
    content: '';
    width: 18px;
    height: 18px;
    position: absolute;
    top: 50%;
    right: 10px;
    margin-top: -9px;
    /*background: url("http://cssdeck.com/uploads/media/items/7/7BNkBjd.png") 0 0 no-repeat;*/
}


.search .results a:hover {
    text-decoration: none;
    color: #fff;
    text-shadow: 0 -1px rgba(0, 0, 0, 0.3);
    border-color: #2380dd #2179d5 #1a60aa;
    background-color: #338cdf;
}


.search-item{
    padding-left: 3px;
    padding-right: 3px;
    display: inline-block
}

.results-image-item-style{
    height: 60px;
    width:90px;
    display: inline-block
}

.results-title-text-style{
    font-size:14px
}

.results-location-text-style{
    padding-top:5px;
    display:block;
    overflow:hidden;
    whiteSpace:pre-wrap;
    textOverflow:ellipsis;
    font-size:10px;
    height:40px
}
.loading-search-participant{
    height : 10px;
    width: 10px;
}
    /*background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #59aaf4), color-stop(100%, #338cdf));*/
    /*background-image: -webkit-linear-gradient(top, #59aaf4, #338cdf);*/
    /*background-image: -moz-linear-gradient(top, #59aaf4, #338cdf);*/
    /*background-image: -ms-linear-gradient(top, #59aaf4, #338cdf);*/
    /*background-image: -o-linear-gradient(top, #59aaf4, #338cdf);*/
    /*background-image: linear-gradient(top, #59aaf4, #338cdf);*/
    /*-webkit-box-shadow: inset 0 1px rgba(255, 255, 255, 0.2), 0 1px rgba(0, 0, 0, 0.08);*/
    /*-moz-box-shadow: inset 0 1px rgba(255, 255, 255, 0.2), 0 1px rgba(0, 0, 0, 0.08);*/
    /*-ms-box-shadow: inset 0 1px rgba(255, 255, 255, 0.2), 0 1px rgba(0, 0, 0, 0.08);*/
    /*-o-box-shadow: inset 0 1px rgba(255, 255, 255, 0.2), 0 1px rgba(0, 0, 0, 0.08);*/
    /*box-shadow: inset 0 1px rgba(255, 255, 255, 0.2), 0 1px rgba(0, 0, 0, 0.08);*/

/*:-moz-placeholder {*/
/*color: #a7aabc;*/
/*font-weight: 200;*/
/*}*/

/*::-webkit-input-placeholder {*/
/*color: #a7aabc;*/
/*font-weight: 200;*/
/*}*/

/*.lt-ie9 .search input { line-height: 26px }*/
