.center {
    text-align: center;
}

.no-border-radius {
    border-radius: 0;
}

.forcusing {
    border-bottom: 2px solid #EEEEEE;
    background-color: #EEEEEE;
    margin-left: -7px;
    margin-right: -8px;
}

.cursor {
    cursor: pointer;
    padding-right: 8px;
    padding-left: 7px;
}

@media screen and (max-width: 335px) {
    .title-social {
        display: none
    }
}

.button-facebook {
    -webkit-font-smoothing: antialiased;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font-size: calc(.27548vw + 12.71074px);
    text-decoration: none;
    transition: background-color .3s, border-color .3s;
    background-color: #4c69ba;
    border: calc(.06887vw + .67769px) solid #4c69ba;
    padding: calc(.34435vw + 13.38843px) calc(.34435vw + 18.38843px);
    transition: opacity .5s ease-in-out;
    width: 100%;
    padding-bottom: 10px;
    padding-top: 10px;
}

.button-facebook:hover {
    opacity: 0.8;
}

.button-google {
    display: inline-block;
    background: rgb(209, 72, 54);
    color: rgb(255, 255, 255);
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 2px;
    border: 1px solid transparent;
    font-size: calc(.27548vw + 12.71074px);
    width: 100%;
    transition: opacity .5s ease-in-out;
    margin-top: 6px;
}

.button-google:hover {
    opacity: 0.8;
}

.button-sign {
    display: inline-block;
    background: #ffffff;
    color: #7D7777;
    padding-top: 10px;
    padding-bottom: 10px;
    border: calc(.06887vw + .67769px) solid #2DA9D7;
    font-size: calc(.27548vw + 12.71074px);
    width: 100%;
    transition: background-color .3s ease-in-out;
    margin-top: 6px;
}

.button-sign:hover {
    opacity: 0.8;
    background-color: #2DA9D7;
    color: #ffffff;
}

.center {
    text-align: center;
}

.register {
    width: 100%;
    height: 100%;
    margin: 35px auto;
}

.register-form {
    padding: 0 25px;
}
