<!--<link rel="stylesheet" href="navbar.component.css">-->
<script src="../profile/profile.component.ts"></script>
<nav class="navbar navbar-default header">
      <div class="">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
          <ul class="nav navbar-nav navbar-left">
            <li [routerLinkActive]="['active']" [routerLinkActiveOptions] = "{exact:true}">
                <img [routerLink]="['/']" class="navbar-brand" href="#" src="./../../../assets/images/logotomorrow.svg" onerror="this.onerror=null; this.src='./../../../assets/images/logotomorrow.svg'">
            </li>
          </ul>

          <ul class="nav navbar-nav navbar-right">
            <li *ngIf="authService.loggedIn()" class="header-avatar-padding"><a [routerLink]="['/profile']" class="no-padding">
                <IMG class="circle-avatar-user-corner" src="https://6536.apps.zdusercontent.com/6536/assets/1495443613-3ea9ac1cea3cbbbf45165f510962df26/logo.png">
            </a>
            </li>
            <li *ngIf="authService.loggedIn()">
              <div class="dropdown corner-btn" dropdown [dropdownToggle]="false" >
                <!--<button  class="btn" ><span class="caret"></span></button>-->
                <a dropdown-open class="" data-toggle="dropdown" role="button"
                   aria-haspopup="true" aria-expanded="false">
                  <p>{{user.fullName}} <span class="caret"></span></p>
                </a>
                <ul class="dropdown-menu usercorner-dropdown-menu">
                  <li  class="dropp cursor" id="c1" >
                    <div class="row profile-menu-item">
                      <a [routerLink]="['/profile']">
                        <div class="col-xs-2 col-md-3 profile-menu-icon-div"><i class="fa fa-user-circle-o"></i></div>
                        <span class="col-xs-22 col-md-21"> Profile</span>
                      </a>
                    </div>
                  </li>
                  <li role="separator" class="divider usercorner-divider"></li>
                  <li class="dropp cursor" id="c2" >
                    <div class="row profile-menu-item"><a [routerLink]="['/profile']">
                      <div class="col-xs-2 col-md-3 profile-menu-icon-div">   <i class="fa fa-ticket"></i>         </div>
                      <span class="col-xs-22 col-md-21">My tickets  </span></a>
                    </div>
                  </li>
                  <li role="separator" class="divider usercorner-divider"></li>
                  <li class="dropp cursor" id="c3" >
                    <div class="row profile-menu-item"><a [routerLink]="['/profile']">
                      <div class="col-xs-2 col-md-3 profile-menu-icon-div"><i class="fa fa-calendar-check-o"></i></div>
                      <span class="col-xs-22 col-md-21"> My events </span></a>
                    </div>
                  </li>
                  <li role="separator" class="divider usercorner-divider"></li>
                  <li class="dropp cursor" id="c4" >
                    <div class="row profile-menu-item"><a [routerLink]="['/profile']">
                      <div class="col-xs-2 col-md-3 profile-menu-icon-div"> <i class="fa fa-life-ring"></i></div>
                      <span class="col-xs-22 col-md-21"> My support</span></a>
                    </div>
                  </li>
                  <li role="separator" class="divider usercorner-divider"></li>
                  <li class="dropp cursor" id="c5" >
                    <div class="row profile-menu-item"><a (click)="onLogoutClick()" href="#">
                    <div class="col-xs-2 col-md-3 profile-menu-icon-div">  <i class="fa fa-sign-out"></i> </div>
                      <span class="col-xs-22 col-md-21">    Sign out</span> </a>
                    </div>
                  </li>
                </ul>
              </div>
            </li>
            <li *ngIf="!authService.loggedIn()" [routerLinkActive]="['router-link-active']" [routerLinkActiveOptions] = "{exact:true}">
              <a [routerLink]="['/login']">Login</a></li>
            <li *ngIf="!authService.loggedIn()" [routerLinkActive]="['router-link-active']" [routerLinkActiveOptions] = "{exact:true}">
              <a [routerLink]="['/register']">Register</a></li>
            <li *ngIf="authService.loggedIn()" [routerLinkActive]="['router-link-active']" [routerLinkActiveOptions] = "{exact:true}">
              <a [routerLink]="['/about-us']">About us</a></li>
            <li *ngIf="authService.loggedIn()" [routerLinkActive]="['router-link-active']" [routerLinkActiveOptions] = "{exact:true}">
              <a [routerLink]="['/create-event']">Create Event</a></li>

            <li ></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>

    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
          <span class="sr-only"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
      </div>
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">

      </div>
    </div>
  <!--<ForgotPassword/>-->
  <!--<AlertSentEmailNewPass/>-->
  <!--<CreateEventComponent />-->
  <!--<AlertFormSignInSignUpButton />-->


