
.navbar{
}
.navbar-left img {
  height: 44px;
  padding: 0;
  margin: 4px;
  cursor: pointer;
}
.navbar-right li a{
  color: white !important;
  font-weight: lighter !important;
  font-size: 12px;
}
.dropdown-menu li a{
  color: black !important;
  font-weight: lighter !important;
  font-size: 14px;
}
.dropdown-menu li:hover{
  background-color: #a6e0ff !important;
}

.navbar-right li a:active:focus:hover{
  /*background: red!important;*/
}
.router-link-active{
  background: #0096d6 !important;
}
.navbar-right .dropdown-toggle{
  background:none;
  boxShadow:none;
}

.navbar-right .dropdown p {
  padding: 15px 10px 15px 10px;
  margin-bottom: 0;
}
.dropdown-menu .span{
  width: 140px;
}

.usercorner-divider{
  margin: 0 0 !important;
}

.usercorner-dropdown-menu{
  padding: 0 0 !important;
  min-width: 144px;
  margin-top: 0;
}

.corner-btn:hover {
  background-color: #00a5ff !important;
}
.header-avatar-padding{
  margin-right: 10px;
}

.dropp {/*padding: 8px 14px;*/margin: 0;transition: all .1s; width: 150px;  }
.dropp .row{width: 144px;  }
.dropp .profile-menu-icon-div{padding: 8px;  }
.dropp span{padding: 8px;  }
